.botonDeslizanteContainer {
    position: fixed;
    bottom: 20px;
    right: 80px; /* Ajusta la posición según sea necesario */
    z-index: 999;
  }
  .botonDeslizante:hover {
    background-color: rgba(47, 189, 207, 0.5); /* Cambia el color de fondo cuando se pasa el cursor */
  }
  
  .botonDeslizante {
    width: 50px;
    height: 50px;
    background-color: rgba(198, 212, 32, 0.2);
    border: none;
    border-radius: 50%; /* Hace que la circunferencia sea redonda */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none; /* Quita el borde cuando se enfoca */
  }
  
  .flecha {
    color: rgb(0, 0, 0); /* Color de la flecha */
    font-size: 24px; /* Tamaño de la flecha */
  }
  