/* Estilos para el primer header */
.header {
  background-color: #4B2E45;
  width: 100%;
  height: 50px;
  position: absolute; /* Cambia a 'absolute' para que pueda moverse */
  top: 0;
  left: 0;
  transition: top 0.3s; /* Agrega transición suave en la propiedad 'top' */
  z-index: 1000;
}

.centered-text-container {
  width: 100%;
  text-align: center;
}

.centered-text {
  color: white;
  font-size: 12px;
  font-weight: 600;
}

/* Estilos para el segundo header */
.second-header {
  background-color: transparent;
  width: 100%;
  margin-top: 50px;
  margin-bottom: -5%;
  padding-top: 10px;
  position: relative;
  z-index: 999;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  background-color: transparent;
  color: #4B2E45;
  font-size: 18px;
  font-weight: 900;
  margin: 0 10px;
  cursor: pointer;
  text-decoration: none;
}

.text:hover {
  color: #c6d420;
}

.image-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.image {
  width: 100px;
  height: 100px;
}
