.header {
  background-color: #4B2E45;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.5s ease-in-out;
}

.header-tienda.slide-down {
  transform: translateY(0);
}

.header-tienda.slide-up {
  transform: translateY(-100%);
}

.centered-text-container {
  position: absolute;
  top: 50%;
  left: 52.5%;
  transform: translate(-50%, -50%);
  width: 100%; 
}

.centered-text {
  text-align: center;
  opacity: 0;
}

.centered-text.fade-in {
  animation: fadeIn-tienda 1s forwards;
  
}

.centered-text.fade-out {
  animation: fadeOut-tienda 1s forwards;
}

.centered-text h1 {
  color: white;
  font-size: 12px;
  font-weight: 600;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.second-header {
  background-color: transparent;
  width: 100%;
  margin-top: 50px;
  padding-top: 10px;
  position: relative;
  z-index: 999;
}

.text-container {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center;
  gap: 10px; /* Espacio entre los elementos */
}

.text {
  background-color: transparent;
  color: #4B2E45;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
  text-decoration: none;
  margin: 0 10px;
}

.text:hover {
  color: #c6d420;
}

.image-container {
  display: flex;
  justify-content: center; /* Asegura que la imagen esté centrada */
  align-items: center;
}

.image {
  width: 100px;
  height: 100px;
}
.green-box {
  background-color: #c6d420 !important; /* Color de fondo verde */
  padding: 5px 10px; /* Ajusta el relleno según sea necesario */
}

.green-box .text {
  color: white !important; /* Color de texto blanco */
}
.green-box:hover {
  background-color: #4b2e45 !important;
  color: white; /* Color de fondo verde */
}