/* Variables tipográficas */
:root {
    --e-global-typography-primary-font-family: 'Work Sans', sans-serif;
    --e-global-typography-primary-font-weight: 900;
    --e-global-typography-secondary-font-family: 'Work Sans', sans-serif;
    --e-global-typography-secondary-font-weight: 700;
    --e-global-typography-text-font-family: 'Work Sans', sans-serif;
    --e-global-typography-text-font-weight: 300;
    --e-global-typography-accent-font-family: 'Work Sans', sans-serif;
    --e-global-typography-accent-font-weight: 500;
  }
  
  /* Aplicación de fuentes */
  body, h1, h2, h3, h4, p {
    font-family: var(--e-global-typography-text-font-family);
  }
  
  h1 {
    font-weight: var(--e-global-typography-primary-font-weight);
  }
  
  h2 {
    font-weight: var(--e-global-typography-secondary-font-weight);
  }
  
  h3 {
    font-weight: var(--e-global-typography-accent-font-weight);
  }
  
  h4 {
    font-weight: var(--e-global-typography-secondary-font-weight);
  }
  
  p {
    font-weight: var(--e-global-typography-text-font-weight);
  }
  
  /* Estilos existentes */
  .App {
    text-align: left; /* Alinear el texto a la izquierda */
    padding: 20px; /* Añadir espacio alrededor del contenido */
  }
  
  .header {
    background-color: #4b2e45;
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  
  .principles {
    text-align: left;
    padding: 10px;
    margin-top: 10px;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* Nuevos estilos para el contenido */
  .title {
    text-align: center;
    color: #c6d420;
    margin: 0;
  }
  
  /* Estilo para el contenedor del contenido */
  .content-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  /* Estilo para el contenedor de texto e imagen */
  .text-image-container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  /* Estilo para el texto "Un Comienzo Humilde" */
  .comienzo-humilde {
    text-align: left;
    background-color: #c6d420;
  }
  
  /* Estilo para el título "Un Comienzo Humilde" */
  .highlight-title {
    background-color: #c6d420;
    text-align: left;
    color: #4b2e45;
    margin: 0;
    padding: 10px;
  }
  
  .text-content {
    font-size: 16px;
    flex: 1;
    margin-right: 20px;
  }
  
  /* Estilo para la imagen a la derecha */
  .right-image {
    max-width: 300px;
    height: auto;
    flex-shrink: 0;
  }
  
  /* Estilo para el componente "El Mejor Momento en Nuestra Historia" */
  .best-moment {
    text-align: left;
    background-color: #4b2e45;
    padding: 20px;
    border-radius: 8px;
  }
  
  /* Estilo para el título dentro de "El Mejor Momento en Nuestra Historia" */
  .best-moment-title {
    color: #fff;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #c6d420;
  }
  
  /* Estilo para el texto dentro de "El Mejor Momento en Nuestra Historia" */
  .best-moment-text-content {
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    flex: 1;
    margin-right: 20px;
  }
  
  /* Estilo para el componente "Actualidad" */
  .actualidad {
    text-align: left;
    background-color: #c6d420;
    padding: 20px;
    border-radius: 8px;
  }
  
  /* Estilo para el título dentro de "Actualidad" */
  .actualidad-title {
    background-color: #c6d420;
    text-align: left;
    color: #4b2e45;
    margin: 0;
    padding: 10px;
  }
  
  /* Estilo para el texto dentro de "Actualidad" */
  .actualidad-content {
    font-size: 16px;
    flex: 1;
    margin-right: 20px;
  }
  