    .photo-gridn {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px; /* Incrementa el espacio entre las fotos */
        padding: 16px;
        margin-top: 180px; /* Agrega margen superior para bajar las fotos */    
    }

    .photo-item {
        text-align: center;
    }

    .photo-item img {
        width: 100%; /* Asegura que las imágenes ocupen todo el ancho del contenedor */
        height: 350px; /* Establece una altura fija */
        object-fit: cover; /* Recorta la imagen para llenar el contenedor sin distorsionarla */
        display: block;
        margin: 0 auto;
    }

    .photo-text {
        margin-top: 8px;
        font-size: 16px; /* Tamaño de texto común */
        color: #555; /* Color de texto común */
    }
    
    .photo-text {
        
        margin-top: 8px;
        font-size: 22px; /* Tamaño de texto más grande */
        color: #c6d420; /* Color especial */
        font-weight: bold;
        
    }
    
    .description-text {

        margin-top: 8px;
        font-size: 15px; /* Tamaño de texto más grande */
        
    }
    
    .special-text {
        font-size: 24px; /* Tamaño de texto especial */
        font-weight: bold; /* Si deseas que el texto sea más grueso */
        margin-top: 16px; /* Ajusta el espacio superior si es necesario */
        color: #c6d420; /* Color especial */
    }
    
    
