:root {
    --e-global-typography-primary-font-family: "Work Sans";
    --e-global-typography-primary-font-weight: 900;
    --e-global-typography-secondary-font-family: "Work Sans";
    --e-global-typography-secondary-font-weight: 700;
    --e-global-typography-text-font-family: "Work Sans";
    --e-global-typography-text-font-weight: 300;
    --e-global-typography-accent-font-family: "Work Sans";
    --e-global-typography-accent-font-weight: 500;
  }
  
  /* Animación de desplazamiento */
  @keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  /* Aplicar animación a la imagen superior */
  .top-image {
    width: 100%;
    height: 100vh; /* Asegúrate de que la imagen ocupe toda la pantalla */
    object-fit: cover; /* Asegúrate de que la imagen cubra todo el contenedor */
    animation: slide-in 2s ease-out; /* Ajusta la duración y la curva de la animación según sea necesario */
  }
  
  /* Estilo de posición del contenedor de la imagen superior */
  .top-image-container {
    width: 100%;
    height: 100vh; /* Asegúrate de que el contenedor ocupe toda la pantalla */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Asegúrate de que la imagen no se desborde del contenedor */
  }
  
  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 36px; /* Ajusta el tamaño del texto según sea necesario */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Añade sombra al texto para mejorar la legibilidad */
    font-family: var(--e-global-typography-primary-font-family);
    font-weight: var(--e-global-typography-primary-font-weight);
  }
  
  .columns-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las columnas se ajusten automáticamente si no caben */
  }
  
  .column {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    font-family: var(--e-global-typography-text-font-family);
    font-weight: var(--e-global-typography-text-font-weight);
  }
  
  .left-column {
    text-align: left;
    font-family: var(--e-global-typography-secondary-font-family);
    font-weight: var(--e-global-typography-secondary-font-weight);
  }
  
  .center-column {
    text-align: center;
  }
  
  .right-column {
    text-align: left;
  }
  
  .text-color {
    color: #c6d420;
  }
  
  .profile-text {
    margin-top: 10px;
    color: #000;
  }
  
  .section {
    margin-top: 20px;
  }
  
  .awards-list {
    list-style-type: none;
    padding: 0;
  }
  
  .awards-list li {
    margin: 10px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }
  
  /* Estilo específico para la imagen en la columna de perfil */
  .profile-image {
    max-width: 200px; /* Ancho máximo específico para la imagen en la columna de perfil */
    height: auto; /* Mantén la relación de aspecto */
  }
  