.receptes-header {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-bottom: 20px;
    margin-top: 70px;

}

.icono-verde {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.receptes-header h1 {
    font-size: 34px;
    color: #333;
    margin: 0; /* Elimina el margen superior e inferior del h1 */
    margin-top: 50px;
    font-weight: bold;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px; /* Incrementa el espacio entre las fotos */
    padding: 16px;
    margin-top: 20px; /* Reduce el margen superior */
}

.photo-item {
    text-align: center;
}

.photo-item img {
    width: 100%; /* Asegura que las imágenes ocupen todo el ancho del contenedor */
    height: 350px; /* Establece una altura fija */
    object-fit: cover; /* Recorta la imagen para llenar el contenedor sin distorsionarla */
    display: block;
    margin: 0 auto;
}

.photo-text {
    margin-top: 8px;
    font-size: 22px; /* Tamaño de texto más grande */
    color: #c6d420; /* Color especial */
    font-weight: bold;
}

.description-text {
    margin-top: 8px;
    font-size: 15px; /* Tamaño de texto */
}

.special-text {
    font-size: 24px; /* Tamaño de texto especial */
    font-weight: bold; /* Si deseas que el texto sea más grueso */
    margin-top: 16px; /* Ajusta el espacio superior si es necesario */
    color: #c6d420; /* Color especial */
}
