/* General styles */
body {
    font-family: 'Work Sans', sans-serif;
  }
  
  /* Video background styles */
  .videoBackground {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 100px);
  }
  
  .videoStyle {
    position: absolute;
    width: 100%;
    height: 109%;
    object-fit: cover;
  }
  
  .textOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
  
  .textStyle1 {
    color: white;
    font-size: 6rem;
    font-weight: 900;
    margin-bottom: -100px;
  }
  .textStyle2 {
    color: white;
    font-size: 6rem;
    font-weight: 900;
  }
  
  /* Product styles */
  .subtitleStyle1 {
    text-align: left;
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 130px;
    margin-left: 100px;
    font-weight: 900;
  }
  
  .productContainer {
    display: flex;
    justify-content: center;
  }
  
  .productItem {
    text-align: center;
    margin: 0 20px;
  }
  
  .productImage {
    width: 300px;
    height: 300px;
  }
  
  .productTextStyle1 {
    font-size: 10px;
    font-weight: 800;
    color: #c6d420;
  }
  
  .productTextStyle2 {
    font-size: 25px;
    font-weight: 800;
  }
  
  .productPriceStyle {
    font-size: 2rem;
    font-weight: 800;
    color: #c6d420;
  }
  
  .buttonStyle {
    width: 300px;
    font-weight: 900;
    background-color: #c6d420;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buttonHoverStyle {
    background-color: purple;
  }
  
  /* News styles */
  .newsContainer {
    background-color: #4b2e45;
    padding: 20px;
    text-align: center;
  }
  
  .subtitleStyle2 {
    color: white;
    text-align: left;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 100px;
    font-weight: 900;
  }
  
  .newsItemsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .newsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  
  .newsImage {
    width: 450px;
    height: 300px;
    margin-right: 20px;
  }
  
  .newsTextStyle1 {
    color: white;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .buttonStyle:hover {
    background-color: purple; /* Cambia al color morado deseado */
  }
  
  /* Botón de noticias */
  .newsButtonStyle:hover {
    background-color: green; /* Cambia al color verde deseado */
  }
  .newsTextStyle2 {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .newsButtonStyle {
    background-color: #00000055;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-left: 5px solid #c6d420; /* Cambia 'blue' al color deseado */
  }
  
  
  .imageOverlay {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .videoIcon {
    width: 350px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Ajusta el tamaño según sea necesario */
  }
  .fade-in {
    animation: fadeInAnimation 2s ease-in forwards;
    opacity: 0;
  }
  
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .verMasButton {
    text-align: center; /* Centra el texto horizontalmente */
    line-height: 40px; 
    width: 300px;
    font-weight: 900;
    background-color: #c6d420;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 30px; /* Ajusta el margen superior según sea necesario */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 30px; /* Ajusta el margen inferior según sea necesario */
  }
  
  .verMasButton:hover {
    background-color: purple; /* Cambia al color morado deseado */
  }

  
  .buttonContainer {
    display: flex;
    justify-content: center;
  }
  