/* General styles */
body {
    font-family: 'Work Sans', sans-serif;
  }
  
  /* Video background styles */
  .videoBackground {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 100px);
  }
  
  .videoStyle {
    position: absolute;
    width: 100%;
    height: 109%;
    object-fit: cover;
  }
  
  .textOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
  
  .textStyle1 {
    color: white;
    font-size: 6rem;
    font-weight: 900;
    margin-bottom: -100px;
  }
  .textStyle2 {
    color: white;
    font-size: 6rem;
    font-weight: 900;
  }
  
  /* Product styles */
  .subtitleStyle1 {
    text-align: left;
    font-size: 40px;
    margin-top: 6%;
    margin-bottom: 130px;
    margin-left: 100px;
    font-weight: 900;
  }
  
  .productContainer {
    display: flex;
    justify-content: center;
  }
  .productItem:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .productItem {
    text-align: center;
    margin: 0 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .productImage {
    width: 300px;
    height: 300px;
  }
  
  .productTextStyle1 {
    font-size: 10px;
    font-weight: 800;
    color: #c6d420;
  }
  
  .productTextStyle2 {
    font-size: 25px;
    font-weight: 800;
  }
  
  .productPriceStyle {
    font-size: 2rem;
    font-weight: 800;
    color: #c6d420;
  }
  
  .buttonStyle {
    width: 300px;
    font-weight: 900;
    background-color: #c6d420;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buttonHoverStyle {
    background-color: purple;
  }
  
  /* News styles */
  .newsContainer {
    background-color: #4b2e45;
    padding: 20px;
    text-align: center;
  }
  
  .subtitleStyle2 {
    color: white;
    text-align: left;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 100px;
    font-weight: 900;
  }
  
  .newsItemsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .newsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  
  .newsImage {
    width: 450px;
    height: 300px;
    margin-right: 20px;
  }
  
  .newsTextStyle1 {
    color: white;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .buttonStyle:hover {
    background-color: purple; /* Cambia al color morado deseado */
  }
  
  /* Botón de noticias */
  .newsButtonStyle:hover {
    background-color: green; /* Cambia al color verde deseado */
  }
  .newsTextStyle2 {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .newsButtonStyle {
    background-color: #00000055;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-left: 5px solid #c6d420; /* Cambia 'blue' al color deseado */
  }
  
  
  .imageOverlay {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .videoIcon {
    width: 350px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Ajusta el tamaño según sea necesario */
  }
  .fade-in {
    animation: fadeInAnimation 2s ease-in forwards;
    opacity: 0;
  }
  
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .verMasButton {
    text-align: center; /* Centra el texto horizontalmente */
    line-height: 40px; 
    width: 300px;
    font-weight: 900;
    background-color: #c6d420;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 30px; /* Ajusta el margen superior según sea necesario */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 30px; /* Ajusta el margen inferior según sea necesario */
  }
  
  .verMasButton:hover {
    background-color: purple; /* Cambia al color morado deseado */
  }

  
  .buttonContainer {
    display: flex;
    justify-content: center;
  }
  
/*PRODUCTOS*//* PRODUCTOS */
.content-container-product {
  margin-top: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

.image-text-container-product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

.text-above-image-product {
  font-size: 18px;
  margin-bottom: 10px;
}

.large-image-product {
  width: 600px; /* Ajusta el tamaño según sea necesario */
  height: auto;
}

.center-text-container-product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title-text-product {
  font-size: 40px;
  color: #4b2e45;
  font-weight: 1000;
  margin-bottom: 10px;
}

.explanatory-text-product {
  font-size: 16px;
  margin-bottom: 20px;
}

.explanatory-text-product2 {
  font-size: 10px;
  margin-bottom: 20px;
  color:  #333333;
}

.button-container-product {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
button.selected-product {
  background-color: #800080; /* Fondo morado para el botón seleccionado */
  color: white; /* Texto blanco para el botón seleccionado */
}

.styled-button-product {
  text-align: center;
  line-height: 10px;
  width: auto;
  height: auto;
  font-weight: 900;
  background: #51294122; /* Fondo blanco por defecto */
  color: black; /* Texto negro por defecto */
  padding: 10px 20px;
  border: none;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.custom-container {
  margin-top: 200px;
  width: 100%;
  background-color: #C6D42010 ;
}

.custom-text {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.dynamic-text-product {
  color: #879b26;
  font-family: "Poppins", Sans-serif;
  font-size: 2.8em;
  font-weight: 900;
  margin-top: 20px;
}
.addtocartButton{
  width: 200px;
  font-family: "Poppins", Sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  border-style: solid;
  border-width: 1px;
  border-radius: 0px;
  padding: 0px 35px;
  color: #FFFFFF;
  background-color: #c6d420;
  transition: all 0.2s;
}
.addtocartButton:hover{
  cursor: pointer;
}
/* Estilos para el carrito */
/* Estilos para el carrito */
.cart-panel {
  position: fixed;
  z-index: 10000; /* Asegura que esté por encima del second-header */
  right: 0;
  top: 0;
  height: 100%;
  width: 300px;
  background: white;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  padding: 20px;
  overflow-y: auto;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.cart-button {
  position: fixed;
  bottom: 20px;
  right: 140px;
  width: 50px;
  height: 50px;
  background-color: #ffffff; /* Color de fondo del botón */
  border: 1px solid #cccccc; /* Borde del botón */
  border-radius: 50%; /* Hace que el botón sea redondeado */
  display: flex; /* Permite centrar el contenido verticalmente */
  justify-content: left; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  z-index: 1000; /* Asegura que el botón esté sobre otros elementos */
}


.cart-button:hover {
  background-color: #f0f0f0; /* Cambia el color de fondo al pasar el cursor */
  border-color: #999999; /* Cambia el color del borde al pasar el cursor */
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-cart-button {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.cart-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.cart-item-image {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
}

.quantity-selector-container {
  width: 100%;
}

.quantity-selector {
  display: flex;
  align-items: center;
  gap: 5px;
}

.quantity-selector button {
  width: 30px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
}

.quantity-selector input {
  width: 40px;
  text-align: center;
  border: 1px solid #ccc;
}


.quantity-selector-container {
  width: 100%;
}

.quantity-selector-cart {
  display: flex;
  align-items: center;
  gap: 5px;
}

.quantity-selector-cart button {
  width: 30px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
}

.quantity-selector-cart input {
  width: 40px;
  text-align: center;
  border: 1px solid #ccc;
}
.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 180px;
}

.basket-section, .order-summary, .checkout-form {
  width: 100%;
  max-width: 800px;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.basket-section ul {
  list-style: none;
  padding: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.cart-item-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 20px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.quantity-selector-container {
  margin-top: 10px;
}

.quantity-selector-cart {
  display: flex;
  align-items: center;
}

.quantity-selector-cart button {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.quantity-selector-cart button:hover {
  background-color: #0056b3;
}

.quantity-selector-cart input {
  width: 40px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.order-summary table {
  width: 100%;
  border-collapse: collapse;
}

.order-summary table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.checkout-form form {
  display: flex;
  flex-direction: column;
}

.checkout-form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkout-form button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.checkout-form button:hover {
  background-color: #218838;
}

/* Añadir este bloque de estilos a tu archivo CSS existente */

.finalize-purchase-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.finalize-purchase-button:hover {
  background-color: #45a049;
}